body {
    font-family: 'IBM Plex Sans', sans-serif;
    min-height: 100vh;
}

.top {
    background-image: url(../img/png2.jpg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right;
    background-color: #E8EDF9;
}.top1 {
    background-image: url(../img/top-back.svg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right;
    background-color: #E8EDF9;

}

.top-content {
    height: 544px;
}

.top__heading {
    color: #4C63F6;
}

.top__text {
    font-weight: bold;
    font-size: 1.5rem;
    color: #120D3D;
}

.navbar-nav .active {
    font-weight: bold;
    color: #4C63F6 !important;
}


h1 {
    font-size: 3.5rem;
    font-weight: bold;
    color: #120D3D;
}

.heading {
    font-weight: bold;
    font-size: 2rem;
    color: #120D3D;
}

.text {
    font-weight: normal;

    font-size: 1.3rem;
    line-height: 2rem;
}

/* Стили для блока обо мне */

.about {
    min-height: 484px;
}

/* Стили для блока почему мне нравится программировать */

.why {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.why .card {
    background: #E8EDF9;
}

.card {
    border: none;
}

/* Стили для Подвала сайта */

.footer {
    background: #120D3D;
    height: 216px;
    padding-top: 56px;
}


/* Стили для страницы Блог */

.blog-body {
    background: #FFFFFF;
}

.blog-heading {
    font-weight: bold;
    font-size: 1.5rem;
    color: #120D3D;
}

.blog-text {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    color: #120D3D;
}

.blog-content {
    padding: 2rem;
}

/* Стили для страницы Контакты */

.contacts-top {
    background: #E8EDF9;
}

.contacts-content {
    min-height: 544px;
}

.contacts-info {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.form {
background:060616 !important;
padding: 30px 0;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
margin: 0 auto;
align-items: center;
}
.form__title {
padding-top: 10px;
text-align: center;
font-size: 60px;
}

.input {
background-color: White;
width: 33%;
font-size: 20px;
padding: 16px;
border-radius: 10px;
margin-bottom: 40px;
border: none;
}

.textarea {
background-color: white;
width: 100%;
height: 44px;
font-size: 20px;
padding: 16px;
border-radius: 10px;
margin-bottom: 25px;
height: 150px;
}
.button {
background-color: #5bd183;
border-radius: 20px;
font-size: 22px;
text-align: center;
display: flex;
margin: auto;
padding: 10px 18px;
border: none;
}

.button:hover {
opacity: 70%;
cursor: pointer;
}

.@media (max-width: 768px) {
  input {
    width: 100%;
  }
}
.logo228{
width: 63px;
height: px;
border-radius: 10%;
right: 10px;
}
.logo2281{
width: 60px;
margin-top: 10px;
}
.logo{
width: 80px;
}

.logo28{
width: 400px;
height: px;
border-radius: 15%;
overflow: hidden
}
#icons{
margin-left: 40px
}
#text3{
margin-right: 40px
}
#text2{
margin-right: 40px
}
.logo2282{
width: 60px;
height: px;
border-radius: 10%;
margin-bottom: 40px;
margin-left: 100px
}